<!-- <p>footer works!</p> -->

<footer>
    <div class="foot d-flex">
        
        <!-- copyright text -->
        <div class="center">
            <p class="text">&copy;2022 Company, Inc. All rights reserved.</p>
            <div class="admin">
                <p><a routerLink="/adminLogin">Admin</a></p>
            </div>
        </div>

        <!-- social media handles(for now added there respective login page) -->
        <div class="social">
            <h4>Follow us on :-</h4>
            <div class="handles">
                <!-- instagram -->
                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
                <!-- whatsapp -->
                <a href="https://web.whatsapp.com/" target="_blank"><i class="fa fa-whatsapp"></i></a>
                <!-- facebook -->
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                <!-- you tube -->
                <a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i></a>
                <!-- twitter -->
                <a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZW4ifQ%3D%3D%22%7D" target="_blank"><i class="fa fa-twitter"></i></a>
                <!-- linkedin -->
                <a href="https://www.linkedin.com/login" target="_blank"><i class="fa fa-linkedin"></i></a>
            </div>
            <!-- social div ends below -->
        </div>
        <!-- main div ends below -->
    </div>

</footer>
