<!-- <p>home works!</p> -->
<app-header></app-header>
<br>
<section>
    <div class="banner">
        <img src="https://media.istockphoto.com/photos/auto-parts-picture-id526209999?b=1&k=20&m=526209999&s=170667a&w=0&h=EsjxR1B1rTswX4Ph9saLMzhcYJlGwhgCjEASogBLIeI=" alt="banner">
        <h1 class="a-heading">Wide selection of Auto Parts</h1>
        <h2 class="b-heading">At the Lowest</h2>
        <h4 class="c-heading">Prices!</h4>
        <button routerLink="/product" type="button" class="btn">View more</button>
    </div>

    <div class="review">
        <h1 class="head1">Our Product Review</h1>
        <h2 class="head2">Happy client say</h2>
        <div class="comment">
            <div class="team-card">
                <div class="card">
                    <div class="img-section">
                        <img src="https://i.pinimg.com/736x/df/25/ba/df25baa7c461fe39c6b5faaf0464801f.jpg"
                            alt="" width="200px">
                    </div>
                    <div class="content">
                        <h3>Sukhvir</h3>
                        <h4>Excelent</h4>
                        <p>Quality of the product are good.</p>
                        <p class="star">&bigstar;&bigstar;&bigstar;&starf;&star;</p>
                    </div>
                </div>
                <div class="card">
                    <div class="img-section">
                        <img src="https://i.pinimg.com/736x/df/25/ba/df25baa7c461fe39c6b5faaf0464801f.jpg"
                            alt="" width="200px">
                    </div>
                    <div class="content">
                        <h3>Aman</h3>
                        <h4>Awesome Deal</h4>
                        <p>Shipped very next day and reached me in 2 days. Quality product, working well.</p>
                        <p class="star">&bigstar;&bigstar;&bigstar;&starf;&star;</p>
                    </div>
                </div>
                <div class="card">
                    <div class="img-section">
                        <img src="https://i.pinimg.com/736x/df/25/ba/df25baa7c461fe39c6b5faaf0464801f.jpg"
                            alt="" width="200px">
                    </div>
                    <div class="content">
                        <h3>Michael</h3>
                        <h4>Best Quality</h4>
                        <p>Superb quality actually fit very well & good fast delivery.</p>
                        <p class="star">&bigstar;&bigstar;&bigstar;&bigstar;&bigstar;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>
