<!-- <p>header works!</p> -->

<header>
    <nav>
        <input type="checkbox" id="click">
        <label for="click" class="menu-btn">
            <i class="fas fa-bars"></i>
        </label>
        <div class="logo">
            <a class="navbar-brand" routerLink="home"><span class="digi">Digi</span><span>Store</span></a>
        </div>
        <ul>
            <!-- <li><a class="nav-link" id="nav-link" routerLink="/home">Dasb</a></li> -->
            <li><a class="nav-link" id="nav-link" routerLink="/adminProduct">Products</a></li>
            <li><a class="nav-link" id="nav-link" routerLink="/adminCategory">Category</a></li>
            <li><a class="nav-link" id="nav-link" routerLink="/adminUserProfile">User Profile</a></li>
            <li><a class="nav-link" id="nav-link" routerLink="/adminProfile">Add Admin</a></li>
        </ul>
        <button type="button" class="btn btn-danger">Log out</button>
    </nav>
</header>

