
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Admin Login</h1>
                    <h6>Please enter email & password!!</h6>
                </div>
                
                <form [formGroup]="adminloginForm" (ngSubmit)="adminlogin()">
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email" placeholder="Admin email">
                          <small><span class="text-danger" *ngIf="adminloginForm.controls['email'].dirty && adminloginForm.hasError('required','email')">*Email is required</span></small>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" placeholder="Password">
                          <small><span class="text-danger" *ngIf="adminloginForm.controls['password'].dirty && adminloginForm.hasError('required','passowrd')">*Password is required</span></small>
                        </div>
                       <button type="submit" [disabled]="!adminloginForm.valid" class="btn btn-primary">Login</button>
                      </form>
                <div class="d-flex justify-content-end">
                    <a routerLink='/home'>Visit User Site</a>
                </div>
            </div>
        </div>
    </div>
</div>
