<app-header></app-header>
<br>
<ng-container *ngIf="products.length !=0">
    <div class="container">
        <div class="cart-table">
            <div class="cart-product table-responsive-md">
                <table class="table ">
                    <thead class="thead-dark">
                        <tr>
                            <th>Sr.No</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of products;let i =index">
                            <td>{{i+1}}</td>
                            <td class="name">{{item.productName}}</td>
                            <td><img style="width: 120px;" src="{{item.image}}" alt=""></td>
                            <td class="description">{{item.productDescription}}</td>
                            <td class="data">{{item.productPrice | currency:'INR'}}</td>
                            <td>
                                <button (click)="removeItem(item)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td>
                                <button (click)="emptycart()" class="empty btn-danger">Empty Cart</button>
                            </td>
                            <td>
                                <button routerLink="/product" class="shopNow">Shop more</button>
                            </td>
                            <td>
                                <!-- Button trigger modal -->
                                <button class="success" (click)="checkout()">Ckeckout</button>
                            </td>
                            <td class="data"><b>Grand Total: {{grandTotal | currency:'INR'}}</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="products.length==0">
    <div class="container">
        <div class="card">
            <h5 class="card-tittle">My Cart</h5>
        </div>
        <div class="center">
            <img src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" alt="">
            <h4 class="mb-2">Your cart is empty</h4>
            <h5 class="mb-2">Add item to it now</h5>
            <!-- <button routerLink="/products" class="shopNow">Shop now</button> -->
            <button type="button" routerLink="/product" class="btn btn-primary">Shop Now</button>
        </div>
    </div>
</ng-container>
<br>
<app-footer></app-footer>