
.container{
    margin: auto;
     
 }
 h3{
     font-size: 1.55rem;
     margin-left: 2%;
     margin-top: 1%;
 }
 button{
     margin-right: 4%;
     box-shadow: 2px 2px 5px #4b4b4b;
 }
 button:hover{
     /* margin-right: 4%; */
     box-shadow: 4px 4px 10px #4b4b4b;
 }
 .Addbtn{
     width: 120px;
     border-radius: 5px;
 }

 .crud{
     border: 1px solid #000;
     box-shadow: 3px 3px 6px #4b4b4b;
 }
 .count{
     background: rgb(240,188,188);
 background: radial-gradient(circle, rgba(240,188,188,1) 0%, rgba(156,209,224,1) 100%);
     width: 15%;
     margin-left: 20%;
     position: relative;
     top: -95%;
     text-align: center;
     border-radius: 40px;
 }
 .count h3{
     font-size: 1.25rem;
 }
 .count p{
     font-size: 1.15rem;
 }