<app-header></app-header>
<div class="about">
    <h1>About Us</h1>
    <div class="main">
        <div class="img">
            <img src="https://media.istockphoto.com/photos/set-of-car-parts-isolated-on-white-background-3d-picture-id1034249292?k=20&m=1034249292&s=612x612&w=0&h=COqR9oHyH23bFl7v4XotimSp1gSdzxNlHF3FrztqyrA=" alt="">
        </div>
        <div class="content">
            <p>We are an automobile spare parts website. We sell bike and car spare parts at a very good price. We have sell more then 60,000 products all over India with <b>100% satisfaction.</b></p>
        </div>
    </div>
</div>
<app-footer></app-footer>