<app-header></app-header>
<!-- <p>product works!</p> -->

<div class="container">
    <h1 class="heading">Product List</h1>
    <div>
        <br>
    </div>
    <div class="row">
        <div class="cat">
            <div class="container d-flex">
                <div class="item d-flex">
                    <div class="filter">
                        <!-- search box -->
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search For Product"
                                aria-label="Search" [(ngModel)]="searchTerm" (keyup)="search($event)"
                                [ngModelOptions]="{standalone: true}">
                            <!-- <button class="submit" type="submit"><i class="fa fa-search"></i></button> -->
                        </form>

                        <br>
                        <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Filter
                            </button>
                            <ul class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton1">
                                <li><a (click)="filter('')">
                                        <p class="category">All Product</p>
                                    </a></li>
                                <li><a (click)="filter('Brake&Clutch')">
                                        <p class="category">Brake&Clutch</p>
                                    </a></li>
                                <li><a (click)="filter('Engine&Electrical')">
                                        <p class="category">Engine&Electrical</p>
                                    </a></li>
                                <li><a (click)="filter('Bike Body Parts')">
                                        <p class="category">Bike Body Parts</p>
                                    </a></li>
                                <li><a (click)="filter('Accessories')">
                                        <p class="category">Accessories</p>
                                    </a></li>
                                <li><a (click)="filter('Air Conditioning')">
                                        <p class="category">Air Conditioning</p>
                                    </a></li>
                                <li><a (click)="filter('Bike Body Parts')">
                                        <p class="category">Bike Body Parts</p>
                                    </a></li>
                                <li><a (click)="filter('Exhaust System')">
                                        <p class="category">Exhaust System</p>
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ng-container *ngFor="let item of filterCategory | filter: searchKey:'productName'">
            <!-- *ngFor="let item of productList" -->
            <div class="card col-md-3">
                <!-- getting data from database/api -->
                <img src="{{item.image}}" alt="">
                <div class="card-body">
                    <h4 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">
                        <b>{{item.productName}}</b>
                    </h4>
                    <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">
                        {{item.productDescription}}</p>
                    <p><B>Price:</B> {{item.productPrice | currency:'INR'}}</p>
                    <button class="btn btn-primary" (click)=addtocart(item)>Add to cart</button>

                </div>
            </div>
        </ng-container>

    </div>
</div>

<app-footer></app-footer>