
.heading {
    margin-top: 3%;
    text-align: center;
    font-size: 2.5rem;
}
.heading:hover {
    text-shadow: 2px 2px 4px rgb(39, 39, 39);
}
.container {
    margin: auto;
}

.card {
    margin: 3%;
    padding: 1%;
    overflow: hidden;
}

.card:hover {
    box-shadow: 3px 3px 6px rgb(39, 39, 39);
}

.card b {
    margin-right: 5px;
}

.card img {
    width: 80%;
    height: 180px;
    margin-left: 1rem;
    margin-bottom: 0.75rem;
    transition: 0.3s ease-in-out;
}

.card img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

.card button {
    margin-left: 4%;
    width: 90%;
    background-color: #2E89F1;
}

.card button:hover {
    background-color: #2E89F1;
    box-shadow: 2px 2px 4px rgb(39, 39, 39);
}
.card-top {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
}
.item {
    justify-content: space-between;
}
li{
    cursor: pointer;
}
li:hover{
    background-color: rgb(206, 203, 203);
}
.btn{
    background-color: #2E89F1;
    color: #fff;
    margin-left: 10%;
}
.filter{
    display: flex;
    justify-content: space-between;
}